footer {
    background-color: #505050;
    color: white;
}

footer #form-contact label {
    color: black;
}

footer .copy-right {
    border-top: 1px solid #777777;
    padding: 15px;
    font-size: 14px;
    color: #bdbdbd;
}

footer .text-modern-system {
    font-weight: 600;
    font-style: italic;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0px;
}

footer .btn-contact {
    background-color: #E4491D;
    color: white;
    height: 40px;
    margin-top: 6px;
    margin-left: 3em;
    border-radius: 35px;
    font-size: 16px;
    outline: none;
    border:none;
}

footer .office-address .first-line a:hover span {
    text-decoration: underline;
}

footer .office-address .first-line .fa-map-marker{
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 30px;
    color: #E4491D;
}

footer .office-address .first-line h4 {
    font-size: 16px;
}

footer .office-address .first-line span {
    font-size: 14px;
    line-height: 21px
}

footer .office-address .second-line .fa-phone{
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 30px;
    color: #E4491D;
}

footer .office-address .second-line h4 {
    font-size: 16px;
    margin-bottom: 0;
}

footer .office-address .second-line span {
    font-size: 14px;
}

footer .office-address .third-line .fa-users{
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 23px;
    color: #E4491D;
}

footer .office-address .third-line h4 {
    font-size: 16px;
    margin-bottom: 0;
}

footer .office-address .third-line span {
    font-size: 14px;
}

footer .factory-address {
    flex-basis: 27%;
    padding-left: 15px;
}

footer .factory-address .first-line a:hover span {
    text-decoration: underline;
}

footer .factory-address .first-line .fa-map-marker {
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 30px;
    color: #E4491D;
}

footer .factory-address .first-line h4 {
    font-size: 16px;
}

footer .factory-address .first-line span {
    font-size: 14px;
    height: 30px;
    display: inline-block;
}

footer .factory-address .second-line .fa-phone {
    position: absolute;
    left: 0px;
    font-size: 30px;
    color: #E4491D;
    top: 5px;
}

footer .factory-address .second-line h4 {
    font-size: 16px;
    margin-bottom: 0;
}

footer .factory-address .second-line span {
    font-size: 14px;
}

footer .factory-address .third-line .fa-envelope {
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: 26px;
    color: #E4491D;
}

footer .factory-address .third-line h4 {
    font-size: 16px;
    margin-bottom: 0;
}

footer .factory-address .third-line span {
    font-size: 14px;
}

footer .copy-right ul li {
    list-style: none;
    margin: 0px 10px;
}

footer .copy-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-about-us ul {
    display: flex;
}

.footer-about-us ul li {
    list-style: none;
}

.footer-about-us ul li a {
    text-decoration: none;
    color: #FFFFFFB2;
    display: inline-block;
    margin-left: 25px;
}

.footer-core-business ul {
    display: flex;
}

.footer-core-business ul li {
    list-style: none;
}

.footer-core-business ul li a {
    text-decoration: none;
    color: #FFFFFFB2;
    display: inline-block;
    margin-left: 25px;
}

@media only screen and (max-width: 768px) {
    #map-company-pc {
        flex-direction: column;
    }

    footer .factory-address {
        margin-top: 30px;
        border-top: 1px solid #7f7a7a;
        padding-left: 0;
    }

    .footer-core-business ul, .footer-about-us ul {
        flex-direction: column;
    }

    .footer-core-business ul a, .footer-about-us ul a {
        margin-left: 0px !important;
        padding: 3px 0px;
    }

    footer .wrap-about-core-business {
        flex-direction: row !important;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        padding-left: 30px;
    }

    footer .header-contact {
        justify-content: center;
    }

    footer .fa-map-marker, footer .fa-phone, footer .fa-users, footer .fa-envelope {
        font-size: 25px !important;
    }

    #map-company-pc iframe{
        display: none !important;
    }
}


@media only screen and (max-width: 504px) {
    footer .text-modern-system {
        font-size: 30px;
    } 

    footer .btn-contact{
        margin-left: 1.5em;
    }

    footer .office-address, footer .factory-address {
        flex-basis: 98%;
    }
}

@media only screen and (max-width: 500px) {

    footer .factory-address .first-line span {
        height: 0px;
    }

    footer .btn-contact {
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 475px) {
    footer .copy-right span {
        font-size: 12px;
    }
}