header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    background: white;
    z-index: 999;
    height: 58px;
}

header a.active-header {
    border-bottom: 3px solid #E4491D;
}

header a.nav-link {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: 54px;
    margin-left: 40px;
}

header .fa-globe {
    margin-right: 10px;
    font-size: 25px;
}

header button {
    outline: none !important;
    border: none !important;
    padding: 0 !important;
}

@media only screen and (max-width: 992px) {
    header .container a.nav-link {
        display: none;
    }

    header .dropdown {
        display: none;
    }

    header .fa-bars {
        font-size: 25px;
        display: block !important;
        padding-right: 6px;
        padding-top: 5px;
    }
}