html {
    padding: 5px;
}

body img {
    max-width: 100% !important;
    height: auto !important;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

.nav-link:hover {
    border-bottom: 3px solid #E4491D;
}

#content {
    margin-top: 1em !important;
}

#content .hero {
    display: flex;
}

#content .hero .image {
    flex-basis: 50%;
}

#content .hero .image img {
    max-width: 100%;
    border-radius: 2px;
}

#content .hero .introduce {
    flex-basis: 50%;
    padding-left: 80px;
}

#content .hero .introduce h3 {
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 400;
    color: #333333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content .hero .introduce span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-modern h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

.about-modern span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.core-business #link-vision-smart {
    position: absolute;
    top: 63%;
    display: inline-block;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.core-business #link-high-performance {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.core-business #link-pc-vision {
    position: absolute;
    top: 63%;
    left: 75.5%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}


.core-business div span.text-core-business {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    padding: 10px; 
    text-align: center; 
    font-size: 45px;
}

.core-business div span.text-vision-smarter {
    position: absolute;
    color: white;
    top: 19em;
    left: 20em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.core-business div span.text-high-performance {
    position: absolute;
    color: white;
    top: 19em;
    left: 39em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.core-business div span.text-pc-vision {
    position: absolute;
    color: white;
    top: 19em;
    left: 69.8em;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.our-offerings ul {
    padding-left: 25px;
}

.our-offerings ul li{
    color: #666666;
    font-size: 13px;
}

tbody tr {
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
}

tbody tr td:first-child, tbody tr td:last-child {
    font-weight: bold;
}

.career-opportunities button {
    font-size: 12px;
}

.owl-item {
    width: 315px !important;
    margin-right: 6px;
}

.owl-item.active {
    margin-right: 6px;
}

.owl-carousel .item {
    width: 100%;
    display: inline-block;
}

.owl-stage-outer, .owl-stage {
    height: 440px;
}

@media only screen and (max-width: 1200px) {
    #content .hero .introduce {
        padding-top: 0em !important;
    }

    #content .hero .row {
        align-items: center;
    }

    .core-business #link-vision-smart {
        font-size: 18px !important;
    }

    .core-business #link-high-performance {
        font-size: 18px !important;
    }

    .core-business #link-pc-vision {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 992px) {
    #content {
        padding-top: 4em;
    }

    #content .hero .introduce {
        flex-basis: 98%;
        padding-top: 15px !important;
        padding-left: 10px;
    }

    #content .hero .introduce h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 840px) {
    #link-core-business .main-core-business {
        display: none !important;
    }

    .img1-mobile, .img2-mobile, .img3-mobile {
        display: block !important;
        margin: 0px auto;
    }

    .img1-mobile a{
        position: absolute;
        top: 70%;
        display: inline-block;
        left: 49%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }

    .img2-mobile a{
        position: absolute;
        top: 70%;
        display: inline-block;
        left: 49%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }

    .img3-mobile a{
        position: absolute;
        top: 72%;
        display: inline-block;
        left: 50.5%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }
}

@media only screen and (max-width: 675px) {
    .img1-mobile a, .img2-mobile a, .img3-mobile a {
        font-size: 15px;
    }
}


@media only screen and (max-width: 475px) {
    tbody td {
        font-size: 11px;
    }
}
